<div class="container">
  <h1><%= @cocktail.name %></h1>
  <h3>Ingredients:</h3>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    <% end %>
  </ul>
  <button class="btn btn-info">
    <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) %>
  </button>
  <button class="btn btn-danger">
    <%= link_to "Back to Cocktails", cocktails_path %>
  </button>
</div>
